.footer-locations {
  padding: 36px 16px;
  background-color: #292929;
}

.container-large {
  width: 100%;
  max-width: 1280px;
}

.container-large.ext {
  max-width: 1440px;
}

.grid-17 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid-17 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-17 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-17 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .footer-location-container {
    width: 100%;
    max-width: 367px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-locatin-title {
  margin-bottom: 4px;
  color: var(--background);
}

.subtitle {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
}

.subtitle.white {
  margin-bottom: 16px;
  color: var(--background);
  font-weight: 300;
}

.footer-address {
  color: var(--background);
}

.phone-footer {
  color: var(--light__onprimary_clv);
}

.div-block-79 {
  margin-top: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;
}

.link-block-6 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.link-block-6:global(.w--current) {
  text-decoration: none;
}

.footer-cta-icon {
  max-height: 24px;
}

.footer-cta-text {
  color: var(--background);
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
}

.footer-maps-cta {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #949494;
}

.footer-finance-div {
  display: flex;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .footer-finance-div {
    width: 100%;
    max-width: 367px;
    margin-right: auto;
    margin-left: auto;
  }
}

.link-block-3 {
  width: 100%;
  text-decoration: none;
}

.footer-finance {
  position: relative;

  overflow: hidden;
  padding: 8px 0px 0px;

  border: 2px solid white;
  border-radius: 8px;

  background-color: var(--dark-text);
}

.footer-finance.content {
  border-color: #3141a8;
}

.content {
  font-size: 15px;
}

.footer-finance-banner-text {
  padding-bottom: 8px;
  padding-left: 8px;
}

.div-block-31 {
  display: flex;
  margin-bottom: 8px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: white;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .div-block-31 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.text-block-8 {
  font-size: 19px;
  font-weight: 300;
}

.div-block-91 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  color: var(--background);
}

.finance-icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  font-family: 'Roboto Condensed';
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .finance-icon-text.no-mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .no-mobile {
    display: none;
  }
}

.financing-icon {
  width: 18px;
  height: 18px;
}

.footer-invoice-image {
  width: 100%;
  height: 106px;
  object-fit: cover;
}

.blue-slash {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 184px;
  height: 100%;

  background-image: linear-gradient(-57deg, #3141a8 50%, hsla(231.93277310924373, 54.84%, 42.55%, 0.00) 50%);
}

.blue-slash.footer {
  top: auto;
  bottom: 0px;
  width: 137px;
  height: 106px;
}

.blue-slash.content {
  top: auto;
  bottom: 0px;
  height: 150px;
}

.div-block-33 {
  position: absolute;
  top: 0px;
  right: 12px;

  display: flex;
  width: 57px;
  height: 100%;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto Condensed';
  color: white;
  font-size: 16px;
  text-align: center;
}

.div-block-33.footer {
  right: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-end;
}

.div-block-33.content {
  top: auto;
  right: 20px;
  bottom: 0px;
  height: 120px;
}

.text-block-9 {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 30px;
}

.section-regular-3 {
  position: relative;
  padding: 92px 5%;
}

@media screen and (max-width: 767px) {
  .section-regular-3 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.section-regular-3.background-dark {
  background-color: var(--dark-text);
}

.container-large-3 {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 1208px;
  margin-right: auto;
  margin-left: auto;
}

.footer-grid {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1.5fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

.footer-details {
  display: flex;
  max-width: 272px;
  flex-direction: column;
  grid-column-gap: 88px;
  grid-row-gap: 88px;

  color: hsl(0, 0%, 56%);
}

.footer-logo {
  height: 40px;
}

.wrap-v-xsmall {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.footer-social-links {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.footer-social-link {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: hsl(0, 0%, 79%);
  text-decoration: none;
}

.footer-social-link:hover {
  color: hsl(0, 0%, 100%);
}

.icon-large-2 {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  transition: color 200ms ease;
}

.paragraph-regular-3 {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
}

.footer-links-grid-small {
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-links-grid-small {
    grid-auto-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .footer-links-grid-small {
    grid-template-columns: 1fr;
  }
}

.footer-category {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.label-regular {
  margin-bottom: 0px;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

.label-regular.text-white {
  color: hsl(0, 0%, 100%);
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer-link {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  transition: color 200ms ease;

  color: hsl(0, 0%, 56%);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.footer-link:hover {
  color: hsl(0, 0%, 100%);
}

.wrap-v-large {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.max-width-regular-2 {
  width: 100%;
  max-width: 480px;
}

.footer-form-block {
  width: 100%;
  margin-bottom: 0px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.form-input-icon {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.text-field-dark {
  min-height: 40px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 38px;

  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 16%);
  border-radius: 10px;

  background-color: var(--light__ontertiaryfixedvariant_clv);
}

.text-field-dark:focus {
  border-color: hsl(15, 100%, 53%);
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  right: auto;
  bottom: 10px;

  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.submit-button {
  padding: 12px 20px;

  border-radius: 10px;

  background-color: hsl(15, 100%, 53%);
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.24), hsla(0, 0.00%, 0.00%, 0.00) 50%);

  box-shadow: inset 1px 1px 0.25px 0 hsla(0, 0.00%, 100.00%, 0.12), inset -1px 1px 0.25px 0 hsla(0, 0.00%, 100.00%, 0.12), 0 0 0 1px hsl(15, 100%, 53%), 0 1px 2px 0 hsla(15, 100.00%, 53.00%, 0.64);

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.submit-button.small {
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: var(--light__primaryfixed_clv);

  box-shadow: inset 1px 1px 0.25px 0 hsla(0, 0.00%, 100.00%, 0.12), inset -1px 1px 0.25px 0 hsla(0, 0.00%, 100.00%, 0.12);

  color: var(--dark-text);
  text-align: center;
}

@media screen and (max-width: 479px) {
  .submit-button.small {
    text-align: center;
  }
}

.success-message {
  border-radius: 10px;
  background-color: hsl(0, 0%, 96%);
}

.error-message {
  border-radius: 10px;
  background-color: hsl(15, 100%, 88%);
  color: hsl(15, 100%, 28%);
}

.section-legal-dark {
  padding: 10px 3%;
  background-color: hsl(0, 0%, 16%);
}

@media screen and (max-width: 991px) {
  .section-legal-dark {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .section-legal-dark {
    padding-bottom: 32px;
  }
}

.footer-legal-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  color: hsl(0, 0%, 40%);
}

@media screen and (max-width: 991px) {
  .footer-legal-wrap {
    flex-direction: column;
    align-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: 479px) {
  .footer-legal-wrap {
    align-items: center;
  }
}

.footer-legal-links-small {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 479px) {
  .footer-legal-links-small {
    flex-direction: column;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.footer-legal-link-dark {
  transition: color 200ms ease;
  color: hsl(0, 0%, 79%);
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.footer-legal-link-dark:hover {
  color: hsl(0, 0%, 100%);
}

.footer-scroll-link {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

#w-node-_0fb164d4-4d74-6308-4700-5b60b3d7f825-0c0b8c4a {
}
#w-node-_8ead5b18-7268-f9f0-5d5d-ddbb1fb92d96-0c0b8c4a {
}
#w-node-b6965b59-4194-6701-d585-61b1f9918e79-0c0b8c4a {
}
#w-node-eb3451bf-3c0e-4f94-20d8-3fd03a5c37d7-0c0b8c4a {
}
#w-node-_06e251d6-a208-715d-3747-2aee0c0b8c4e-0c0b8c4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-_06e251d6-a208-715d-3747-2aee0c0b8c93-0c0b8c4a {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_06e251d6-a208-715d-3747-2aee0c0b8c93-0c0b8c4a {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}